<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
</head>
<body>
<div>
    <form action="#" method="post" th:action="@{add}">
        <div class="form-group">
            <label>Добавить задачу</label>
            <input class="form-control" type="text" name="todoString"/>
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="submit"/>
        </div>
        <div class="" th:text="${error != null? error: ''}"></div>
    </form>
</div>
</body>
</html>