<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <script type="text/javascript" src="backbone.marionette/jquery.js"></script>
    <script type="text/javascript" src="backbone.marionette/underscore.js"></script>
    <script type="text/javascript" src="backbone.marionette/backbone.js"></script>
    <script type="text/javascript" src="backbone.marionette/backbone.radio.js"></script>
    <script type="text/javascript" src="backbone.marionette/backbone.marionette.js"></script>
</head>
<body>
    <h2>Задачи</h2>

    <div class="js_list"></div>

    <!--<div th:each="item : ${todoList}" class="row">-->
    <!--<div class="col-md-6">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<span th:text="${item.todoString}"></span>-->
    <!--</div>-->
    <!--<div class="panel-footer">-->
    <!--<div class="btn-group">-->
    <!--<a class="btn btn-default js_status" data-status="open"  th:attr="data-id=${item.id}" href="#" th:classappend="${item.status=='OPEN'}? 'active':''">Open</a>-->
    <!--<a class="btn btn-default js_status" href="#" data-status="in_progress" th:attr="data-id=${item.id}" th:classappend="${item.status=='IN_PROGRESS'}? 'active':''">In-->
    <!--progress</a>-->
    <!--<a class="btn btn-default js_status" data-status="done" th:attr="data-id=${item.id}" href="#" th:classappend="${item.status=='DONE'}? 'active':''">Done</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <a class="btn  btn-primary" href="/add">Добавить</a>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>